@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="@BundleTable.Bundles.ResolveBundleUrl("~/bootstrap/css")" rel="stylesheet" type="text/css" />
	<script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
	<script src="@BundleTable.Bundles.ResolveBundleUrl("~/bootstrap/js")"></script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
					class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a><a class="brand" href="#">DevCon 2012. MVC 4 Project</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="@Url.Action("Index", "OldAsync")">Async</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container">
		@RenderBody()
		<hr>
		<footer>
			<p><a href="http://eugeneagafonov.com" target="_blank">Читайте мой блог на eugeneagafonov.com!</a></p>
		</footer>
	</div>
	<!-- /container -->
</body>
</html>
