@model AsyncMVC.ViewModel
@{
	ViewBag.Title = "MVC4";
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>MVC4, синхронный код</h1>
	<p>Выберите один из вариантов:</p>
	<p>
		<a class="btn btn-primary btn-large" href="@Url.Action("Index", "Home")">	Контроллер Home &raquo;</a>
		<a class="btn btn-large" href="@Url.Action("Index", "OldAsync")">	Контроллер OldAsync &raquo;</a>
		<a class="btn btn-large" href="@Url.Action("Index", "NewAsync")">Контроллер NewAsync  &raquo;</a>
	</p>
	<h2>Время выполнения: @Model.Elapsed.ToString()</h2>
</div>
<!-- Example row of columns -->
<div class="row">
	@foreach(var n in Model.News)
	{
		<div class="span4">
			<h2>@n.Heading</h2>
			<h3>@n.Date.ToLongDateString()</h3>
			<p>@Html.Raw(n.Text)</p>
			<p><a class="btn" href="#">View details &raquo;</a></p>
		</div>
	}	
</div>
